.container {
  margin: 120px auto 80px auto;
  padding: 0 24px;
}

.imgContainer {
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  height: 300px;
}

.bestGearImg {
  width: 100%;
  height: 100%;
}

.textContainer {
  margin-top: 36px;
  text-align: center;
  padding: 10px;
}
