.firstRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
}

.linkItem{
  text-decoration: none;
  color: white;
}

.cartContainer{
  
    background-color: white;
    border-radius: 15px;
    height: auto;
    left: 50% ;
    margin: 0 auto;
    padding: 30px 28px;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 327px;
    z-index: 10;
 
}