.firstRow {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
}


.cartContainer{
  
    background-color: white;
    border-radius: 15px;
    height: auto;
    left: 50% ;
    margin: 0 auto;
    padding: 30px 28px;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 327px;
    z-index: 10;
 
}

.removeBtn{

  border:none;
  height: 40px;
  background-color: transparent;
  letter-spacing: 0;
  text-decoration: underline;


}

.closeIcon{
  text-align: right;
}