.signButton {
  border: none;
  height: 32px;
  width: 33px;
}

.quantity {
  background-color: #f1f1f1;
  border: none;
  height: 32px;
  padding-top: 10px;
  text-align: center;
  width: 33px;
}

.summaryQuantity {
  background-color: transparent;
  border: none;
  height: 32px;
  width: 36px;
}

.imageContainer {
  border-radius: 10px;
  height: 64px;
  overflow: hidden;
  width: 64px;
}

.itemRow {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.imageAndPrice{
  align-items: center;
  column-gap: 24px;
  display:flex;
  flex-direction: row;
}

.itemImage {
  height: 64px;
  width: 64px;
}

.itemName {
  letter-spacing: 0px;
  font-weight: bold;

}

.itemPrice {
  letter-spacing: 0px;
}

.changeAmount {
  align-items: center;
  display: flex;
}



