.signButton {
  width: 33px;
  height: 32px;
  border: none;
}

.quantity {
  width: 33px;
  height: 32px;
  border: none;
  background-color: #f1f1f1;
  padding-top: 10px;
  text-align: center;
}

.summaryQuantity {
  width: 92px;
  height: 32px;
  border: none;
  text-align: right;
}

.orderRow {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.imageContainer {
  height: 64px;
  width: 64px;
  overflow: hidden;
  border-radius: 10px;
}

.itemRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 24px;
  align-items: center;
  column-gap: 15px;
}

.itemImage {
  width: 64px;
  height: 64px;
}

.itemName {
  font-weight: bold;
  width: 80px;
  letter-spacing: 0px;
  text-align: left;
}

.itemPrice {
  text-align: left;
  letter-spacing: 0;
}

.changeAmount {
  display: flex;
  align-items: center;
}
