.card {
  background-color: #f1f1f1;
  width: 90%;
  height: 165px;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 5px;
  margin: 80px auto 0 auto;
}

.image {
  width: 180px;
  height: auto;
  position: absolute;
  top: -55px;
  left: 50%;
  margin-left: -90px;
}

.productName {
  position: absolute;
  bottom: 30%;
  left: 50%;
  margin-left: -56px;
}

.shop {
  position: absolute;
  bottom: 10%;
  left: 50%;
  margin-left: -28px;
}
