.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  row-gap: 100px;
  top: 0;
  left: 0;
  max-width: 327px;
  margin: 0 auto;
  padding-top: 120px;
}

@media (min-width: 760px) {
  .container {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    max-width: 691px;
    justify-content: space-between;
  }
}

@media (min-width: 1400px) {
  .container {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    max-width: 1110px;
    justify-content: space-between;
  }
}
