





.signButton {
  width: 40px;
  height: 50px;
  border: none;
}










@media (min-width: 760px) {
  /* .textContainer {
    width: 70%;
    margin: 40px auto;
    text-align: left;
    padding: 0 0 0 48px;
  }

  .category {
    padding: 50px 24px 0px 24px;
    flex-direction: row;
  }

  .imgContainer {
    width: 281px;
    height: 480px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
  }

  .productName {
    text-align: left;
    padding: 0;
    margin: 20px 0
  }
  .newProduct {
    text-align: left;
  } */

.textContainerDetailed {
  width: 70%;
  margin: 40px auto;
  text-align: center;
}

.categoryDetailed {
  padding: 50px 24px 0px 24px;
  flex-direction: row;
}

.imgContainerDetailed {
  width: 689px;
  height: 352px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
}

.productNameDetailed {
  text-align: center;
  padding: 0 50px ;
}

}


