.header {
    width: 100%;
    height: 192px;
    background-color: black;
  }

  .categoryName {
    color: white;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    padding: 35% 0 0 0 ;
    background-color: black;
  }

  .btn {
    width: 160px;
    height: 48px;
    margin: 20px 25%;
    background-color: #d87d4a;
    font-size: 13px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    border: none;
  }