.category {
  padding: 50px 0 24px 0;
}

.imgContainer {
  width: 90%;
  height: 345px;
  margin: 0 auto 24px auto;
  overflow: hidden;
  border-radius: 10px;
}

.image {
  width: 100%;
  height: auto;
}

.textContainer {
  width: 90%;
  margin: 0 auto;
}

.productName {
  margin: 48px 0;
  padding: 0 35px;
}

