
  .categoryName {
    background-color: black;
    height: 150px;
    padding-top: 90px;
    width: 100%;
  }
  
  @media(min-width: 765px){
    .categoryName {
      padding-top: 120px;
     height: 238px;
    }


  }