.container {
  background-color: white;
  border-radius: 5px;
  margin: 0 auto;
  margin: 24px 24px 72px 24px;
  max-width: 365px;
  padding: 24px 24px 64px 24px;
}

.btn {
  background-color: #d87d4a;
  border: 0;
  height: 48px;
  margin-top: 24px;
  text-transform: uppercase;
  width: 100%;
}

@media (min-width: 760px) {
  .container {
    max-width: 691px;
  }
}

@media (min-width: 1400px) {
  .container {
    margin: 0;
    max-width: 691px;
    height: 612px;
    width: 350px;
    padding: 20px;
  }
}
