.container {
  background-color: white;
  border-radius: 15px;
  height: 500px;
  left: 50%;
  margin: 0 auto;
  overflow:scroll;
  padding: 32px;
  position: fixed;
  text-align: left;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 327px;
  z-index: 50;
}

.text {
  padding: 3rem 0;
}

.icon {
  margin-bottom: 24px;
}


.background{
  background-color: #F1F1F1;
  border-radius: 10px;
  overflow: hidden;
}

@media(min-width: 765px){

  .container{

height: 650px;
width: 540px;
  }




}