.footer {
  height: 100vh;
  width: 100%;
  background-color: black;
  padding: 0 26px;
}

.logoContainer {
  width: fit-content;
  padding: 50px 0;
  margin: 0 auto;
}

.footerMenu {
  line-height: 25px;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.footerMenu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.copyright {
  width: fit-content;
  margin: 24px auto;
  font-weight: bold;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  justify-content: center;
  margin-top: 40px;
  padding-bottom: 40px;
}

hr {
  width: 25%;
  border: 2px #d87d4a solid;
  margin: 0 auto;
}
