.footer {
  height: 100%;
  width: 100%;
  background-color: black;
  padding: 0 26px;
}

.logoContainer {
  width: fit-content;
  padding: 50px 0;
  margin: 0 auto;
}

.footerMenu {
  line-height: 25px;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.footerMenu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}



.copyrightAndSocialMedia {
  display: flex;
  flex-direction: column;
  /* width: fit-content; */
  margin: 24px auto;
  font-weight: bold;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  justify-content: center;
  margin-top: 40px;
  padding-bottom: 40px;
}

hr {
  width: 15%;
  border: 2px #d87d4a solid;
  /* margin: 0 auto; */
}


@media(min-width: 765px){

  .footerMenu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    /* align-items: left; */
    column-gap: 30px;
    justify-content:left
  }

  .logoContainer {
    width: fit-content;
    padding: 50px 0;
    /* text-align: left; */
    margin: 0;
  }

  .copyrightAndSocialMedia {
    display: flex;
    flex-direction: row;
    width: 689px;
    /* margin:0 ; */
    font-weight: bold;
  align-items: center;
  justify-content: space-between;
  
  }

}