.container {
  margin: 0 auto;
  width: 327px;
}

.imageHalfContainer {
  border-radius: 10px;
  height: 174px;
  margin-bottom: 24px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
}

.imageFullContainer {
  border-radius: 10px;
  height: 368px;
  margin-bottom: 24px;
  overflow: hidden;
}

@media (min-width: 760px) {
  .container {
    column-gap: 24px;
    display: flex;
    flex-direction: row;
    width: 689px;
  }

  .imageHalfContainer {
    height: 174px;
    width: 274px;
  }

  .imageFullContainer {
    height: 368px;
    width: 395px;
  }

  .halfImages {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1400px) {
  .container {
    margin: 0 auto;
    width: 1110px;
  }

  .imageHalfContainer {
    height: 280px;
    width: 445px;
    row-gap: 32px;
  }

  .imageFullContainer {
    height: 592px;
    width: 635px;
  }

  .halfImages {
    justify-content: space-between;
  }
}
