.imageContainer {
  width: 90%;
  height: 120px;
  margin: 40px auto 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
}

.productName {
  margin: 24px 0 24px 0;
}
