.imageContainer {
  width: 90%;
  height: 120px;
  margin: 40px auto 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
}

.productName {
  margin: 24px 0 24px 0;
}

.othersSection{

  padding-bottom: 48px;


}

@media(min-width: 760px){

  .othersSection{

    width: 223px;
    height: 471px;

    /* padding-bottom: 48px; */
  
  
  }

  .imageContainer {
    width: 223px;
    height: auto;
    margin: 40px auto 0 auto;
    border-radius: 10px;
    overflow: hidden;
  }


}