.imageContainer {
  border-radius: 10px;
  height: 120px;
  margin: 40px auto 0 auto;
  max-width: 327px;
  overflow: hidden;
}

.image {
  height: 100%;
  width: 100%;
}

.productName {
  margin: 24px 0 24px 0;
}

.othersSection {
  padding-bottom: 48px;
}

@media (min-width: 760px) {
  .othersSection {
    height: 500px;
    margin: 0 auto;
    max-width: 223px;
  }

  .imageContainer {
    border-radius: 10px;
    height: auto;
    width: 223px;
  }
}

@media (min-width: 1400px) {
  .othersSection {
    height: 500px;
    margin: 0;
    max-width: 350px;
   width: 350px;
  }

  .imageContainer {
    height: 318px;
    margin: 40px 0 0 0;
    width: 350px;
  }
}
