.container {
  padding: 75px 0;
}

.quantityInBox {
  color: #d87d4a;
  padding-right: 15px;
}

.whatsIncluded {
  list-style: none;
}

.productDetailsSection {
  padding: 0 24px;
  white-space: pre-line;
}

.features {
  margin: 48px auto;
  max-width: 327px;
}

.title {
  padding-bottom: 24px;
  width: 50%;
}

.similarProductsTitle {
  margin: 78px 0 24px 0;
}

@media (min-width: 760px) {
  .title {
    margin: 0;
  }

  .inTheBox {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 60px;
  }

  .inTheBox ul {
    font-size: 0;
    margin: 0;
    padding: 0;
  }
  .similarProducts {
    max-width: 689px;
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    margin: 0 auto;
  }

  .features {
    max-width: 689px;
  }
}

@media (min-width: 1400px) {
  .title {
    margin: 0;
    width: 350px;
  }

  .inTheBox {
    flex-direction: column;
    margin: 0 auto;
  }

  .inTheBox ul {
    padding: 0;
    margin: 0;
    font-size: 0;
    width: 350px;
  }
  .similarProducts {
    max-width: 1110px;
    width: 1110px;
    column-gap: 0;
    justify-content: space-between;
  }

  .features {
    max-width: 1110px;
    display: flex;
    column-gap: 50px;
  }

  .textContent {
    width: 635px;
  }
}
