.container {
  padding: 75px 0;
  

}

.quantityInBox {
  color: #d87d4a;
  padding-right: 15px;
}

.whatsIncluded {
  list-style: none;
}

.productDetailsSection {
  padding: 0 24px;
  white-space: pre-line;
}

.features {
  margin: 48px auto;
  max-width: 327px;
  
}

.title {
  padding-bottom: 24px;
  width: 50%;
}

.title2 {
  margin: 78px 0 24px 0;
}

@media (min-width: 760px) {
  .title {
    margin: 0;
  }

  .inTheBox {
    display: flex;
    flex-direction: row;

    justify-content: start;
    align-items: flex-start;
    margin-top: 60px;
  }

  .inTheBox ul {
    padding: 0;
    margin: 0;
    font-size: 0;
  }
  .others {
    max-width: 689px;
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    margin: 0 auto;
  }

  .features{max-width: 689px;}
}


@media (min-width: 760px) {
  .title {
    margin: 0;
  }

  .inTheBox {
    display: flex;
    flex-direction: row;

    justify-content: start;
    align-items: flex-start;
    margin-top: 60px;
  }

  .inTheBox ul {
    padding: 0;
    margin: 0;
    font-size: 0;
  }
  .others {
    max-width: 689px;
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    margin: 0 auto;
  }

  .features{max-width: 689px;}
}


@media (min-width: 1400px) {
  .title {
    margin: 0;
    width: 350px;
  }

  .inTheBox {
    /* display: flex; */
    flex-direction: column;

    /* justify-content: start; */
    /* align-items: flex-start; */
    margin: 0 auto;
  }

  .inTheBox ul {
    padding: 0;
    margin: 0;
    font-size: 0;
    width: 350px;
    /* text-align: center; */
  }
  .others {
    max-width: 1110px;
    width: 1110px;
    display: flex;
    flex-direction: row;
    column-gap: 0;
    margin: 0 auto;
    justify-content: space-between;
  }

  .features{max-width: 1110px;
  display: flex;
column-gap: 50px;}

  .textContent{
width: 635px;

  }
}