.container {
  padding: 75px 0;

}

.quantityInBox {
  color: #d87d4a;
  padding-right: 15px;
}

.whatsIncluded {
  list-style: none;
}

.productDetailsSection {
  padding: 0 24px;
    white-space: pre-line;
}

.features {
  margin: 48px 0;
}

.title {
  margin: 24px 0;
}

.title2 {
  margin: 78px 0 24px 0;
}

.signButton {
  width: 40px;
  height: 50px;
  border: none;
}

.orderRow {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.addToCart {
  border: none;
  margin-left: 20px;
  width: 160px;
  height: 48px;
  background-color: #d87d4a;
}

.signButton {
  width: 33px;
  height: 48px;
  border: none;
}

.quantity {
  width: 33px;
  height: 48px;
  border: none;
  background-color: #f1f1f1;
  padding-top: 15px;
  text-align: center;
}
