.category {
    padding: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 327px;
    margin: 0 auto;
  }

  .imgContainer {
    max-width: 327px ;
    height: 345px;
    margin: 0 auto 24px auto;
    overflow: hidden;
    border-radius: 10px;
    padding: 24px
  }
  .image {
    width: 100%;
    height: auto ;
  }
  
  .textContainer {
    max-width: 327px;
    margin: 0 auto;
  }
  
  .productName {
    width: 70%;
    padding-bottom: 24px;
    text-align: center;
    margin: 0 auto;
  }
  
  .newProduct {
    text-align: center;
    padding-bottom: 24px;
  }


  .categoryDetailed {
    padding: 50px 0px 24px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .imgContainerDetailed {
    width: 327px;
    height: 345px;
    margin: 0 auto 24px auto;
    overflow: hidden;
    border-radius: 10px;
    /* padding: 24px */
  }
  
  .textContainerDetailed {
    width: 327px;
    margin: 0 auto;
  }
  
  .productNameDetailed {
    width: 70%;
    padding-bottom: 24px;
    text-align: left;
    /* margin: 0 auto; */
  }
  
  .newProductDetailed {
    text-align: left;
    padding-bottom: 24px;
  }

  .textContentSpacing{

    margin-bottom: 20px;


  }



  @media (min-width: 760px) and (max-width: 1399px) {
    .textContainerDetailed {
      width: 70%;
      margin: 40px auto;
      text-align: left;
      padding: 0 0 0 48px;
    }
  
    .categoryDetailed {
      width: 689px;
        display: flex;
      padding: 50px 0px 0px 0px;
      flex-direction: row;
      margin: 0 auto;
    }
  
    .imgContainerDetailed {
      max-width: 281px;
      height: 480px;
      margin: 0 auto;
      overflow: hidden;
      border-radius: 10px;
    }
  
    .productNameDetailed {
      text-align: left;
      padding: 0;
      margin: 20px 0
    }
    .newProductDetailed {
      text-align: left;
    }
  
  .textContainer {
    max-width: 620px;
    margin: 40px auto;
    text-align: center;
  }
  
  .category {
    padding: 50px 0 0px 0;
    flex-direction: column;
    width: 689px;
    margin: 0 auto;
  }
  
  .imgContainer {
    max-width: 689px;
    height: 352px;
    margin: 0; 
    overflow: hidden;
    border-radius: 10px;
  }
  
  .productName {
    text-align: center;
    padding: 0 50px ;
    padding-bottom: 24px;
  }
  
  }


  @media (min-width: 1400px) {
    .textContainerDetailed {
      width: 500px;
      margin: 40px auto;
      text-align: left;
      padding: 0 0 0 0;
    }
  
    .categoryDetailed {
      width: 1110px;
        display: flex;
      padding: 150px 0px 0px 0px;
      flex-direction: row;
      margin: 0 auto;
      column-gap: 50px;
    }
  
    .imgContainerDetailed {
      max-width: 540px;
     width: 540px;
      height: 560px;
      margin: 0 auto;
      overflow: hidden;
      border-radius: 10px;
    }
  
    .productNameDetailed {
      text-align: left;
      padding: 0;
      margin: 20px 0
    }
    .newProductDetailed {
      text-align: left;
      margin:0;
    }
  
  .textContainer {
    max-width: 620px;
    margin: 40px auto;
    text-align: left;
  }
  
  .category {
    padding: 50px 24px 0px 24px;
    flex-direction: row;
  }
  
  .imgContainer {
    max-width: 540px;
    height: 560px;
    /* margin: 0 auto; */
    /* overflow: hidden; */
    /* border-radius: 10px; */
  }
  
  .productName {
    /* text-align: center; */
    padding: 0 0 24px 0;
    /* padding-bottom: 24px; */
    text-align: left;
    width: 100%;
  }

  .newProduct {
    text-align: left;
  }

  .textContentSpacing{

    margin-bottom: 50px;


  }
  
  }