.category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 50px 0 0 0;
  width: 327px;
}

.imgContainer {
  border-radius: 10px;
  height: 345px;
  margin: 0 auto 24px auto;
  max-width: 327px;
  overflow: hidden;
  padding: 24px;
}
.image {
  height: auto;
  width: 100%;
}

.textContainer {
  margin: 0 auto;
  max-width: 327px;
}

.productName {
  margin: 0 auto;
  padding-bottom: 24px;
  text-align: center;
  width: 70%;
}

.newProduct {
  padding-bottom: 24px;
  text-align: center;
}

.categoryDetailed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0px 24px 0px;
}

.imgContainerDetailed {
  border-radius: 10px;
  height: 345px;
  margin: 0 auto 24px auto;
  overflow: hidden;
  width: 327px;
}

.textContainerDetailed {
  margin: 0 auto;
  width: 327px;
}

.productNameDetailed {
  padding-bottom: 24px;
  text-align: left;
  width: 70%;
}

.newProductDetailed {
  padding-bottom: 24px;
  text-align: left;
}

.textContentSpacing {
  margin-bottom: 20px;
}

@media (min-width: 760px) {
  .categoryDetailed {
    flex-direction: row;
    margin: 0 auto;
    padding: 50px 0px 0px 0px;
    width: 689px;
  }

  .imgContainerDetailed {
    border-radius: 10px;
    height: 480px;
    margin: 0;
    max-width: 281px;
    padding: 0;
  }

  .productNameDetailed {
    text-align: left;
    padding: 0;
    margin: 20px 0;
  }
  .newProductDetailed {
    text-align: left;
  }

  .textContainer {
    max-width: 620px;
    margin: 40px auto;
    text-align: center;
  }

  .category {
    padding: 50px 0 0px 0;
    flex-direction: column;
    width: 689px;
    margin: 0 auto;
  }

  .imgContainer {
    max-width: 689px;
    height: 352px;
    margin: 0;
    overflow: hidden;
    border-radius: 10px;
  }

  .productName {
    text-align: center;
    padding: 0 50px;
    padding-bottom: 24px;
  }
}

@media (min-width: 1400px) {
  .textContainerDetailed {
    width: 500px;
    margin: 40px auto;
    text-align: left;
    padding: 0 0 0 0;
  }

  .categoryDetailed {
    width: 1100px;
    padding: 50px 0px 0px 0px;
    flex-direction: row;
    margin: 0 auto;
    column-gap: 50px;
  }

  .imgContainerDetailed {
    height: 560px;
    margin: 0 auto;
    width: 540px;
    max-width: 540px;
  }

  .productNameDetailed {
    margin: 20px 0;
    padding: 0;
    text-align: left;
  }
  .newProductDetailed {
    text-align: left;
    margin: 0;
  }

  .textContainer {
    margin: 40px auto;
    max-width: 400px;
    text-align: left;
  }

  .category {
    flex-direction: row;
    padding: 50px 24px 0px 24px;
    width: 1100px;
    margin: 0 auto;
    padding: 36px 0;
  }

  .imgContainer {
    height: 560px;
    width: 540px;
    max-width: 540px;
    padding: 0;
  }

  .productName {
    padding: 0 0 24px 0;
    text-align: left;
    width: 100%;
  }

  .newProduct {
    text-align: left;
  }

  .textContentSpacing {
    margin-bottom: 50px;
  }
}
