* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* :root{
  font-size: 10.28px;
} */

body {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
/* 
h1 {
  font-size: 3.5rem;
  letter-spacing: 0.125rem;
  line-height: 3.625rem;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: 0.0938rem;
  line-height: 2.75rem;
}

h3 {
  font-size: 2rem;
  letter-spacing: 0.0719rem;
  line-height: 2.25rem;
}

h4 {
  font-size: 1.75rem;
  letter-spacing: 0.125rem;
  line-height: 2.375rem;
}

h5 {
  font-size: 1.5rem;
  letter-spacing: 0.1062rem;
  line-height: 2.0625rem;
}

h6 {
  font-size: 1.125rem;
  letter-spacing: 0.0813rem;
  line-height: 1.5rem;
}

.overline {
  font-size: 0.875rem;
  letter-spacing: 0.625rem;
  line-height: 1.1875rem;
  color: #D87D4A;
}

.subTitle {
  font-size: 0.8125rem;
  letter-spacing: 0.0625rem;
  line-height: 1.5625rem;
  color: #D87D4A;
} */
