* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem 7rem 0rem 7rem;
  width: 100%;
  z-index: 2;
}

.logoNav {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}

.logo {
  height: 100%;
}

.navOptions {
  display: none;
}

.navOptionsDesktop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 430px;
}

.option {
  display: none;
}

.mobileMenu {
  display: none;
}

.cartIcon {
  height: 45px;
}

@media only screen and (max-width: 1400px) {
  .navOptionsDesktop {
    display: none;
  }

  .header {
    left: 0;
    padding: 3rem 1rem 0rem 1rem;
    position: absolute;
    top: 0;
  }

  .navOptions {
    display: flex;
    flex-direction: column;
    height: auto;
    left: -150%;
    list-style-type: none;
    position: absolute;
    top: 80px;
    width: 100%;
  }
  .navOptions.active {
    align-content: center;
    background: white;
    height: auto;
    left: 0px;
    padding-left: 0px;
    text-align: left;
    z-index: 6;
  }

  .menuIcon {
    align-content: right;
    height: 45px;
    width: 20px;
  }

  .option {
    height: 100%;
    display: block;
    padding: 1rem 1rem;
    width: 100%;
  }

  .mobileMenu {
    display: block;
    width: fit-content;
  }
}
