.container {
  background-color: rgba(0, 0, 0, 0.899);
}

.background {
  height: 600px;
  width: 375px;
  background: url("./assets/image-header-mobile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.productName {
  padding: 0 20px;
  margin-top: 30px;
}

.content {
  padding: 200px 0px;
  width: 328px;
  height: 100%;
  margin: 0 auto;
}

.newProduct {
  margin: 10px 0;
}

.description {
  margin: 20px 0 70px 0;
  text-transform: none;
  width: 100%;
}

@media (min-width: 760px) {
  .background {
    height: 729px;
    width: 768px;
    background: url("./assets/image-header-tablet.jpg");
    background-size: cover;
    background-position: center;
  }

  .content {
    width: 60%;
    padding-top: 200px;
  }

  .description {
    margin: 0 auto;
    width: 75%;
    padding: 40px 0;
  }
}

@media(min-width:1400px)
{
.background {
  height: 729px;
  width: 1400px;
  background: url("./assets/image-header-desktop.jpg");
  background-size: cover;
  background-position: center;


}

.content {
  width: 550px;
  padding: 200px 0 0 80px;
  text-align: left;
  margin:0;
}

.description {
  margin: 0;
  width: 75%;
  padding: 40px 0;
  text-align: left;
}

.productName{
  padding:0;
}

}

