.container {
  position: relative;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 24px 0 
}

.background {
  background-color: #d87d4a;
  background-image: url("./assets/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: -115px -110px;
  background-size: 170%;
  width: 100%;
  height: 600px;
  margin: 0 auto;
  border-radius: 10px;
}

.imgSpeaker {
  width: 50%;
  position: absolute;
  top: 90px;
  left: 50%;
  margin-left: -81px;
}

.content {
  position: absolute;
  top: 345px;
  text-align: center;
  left: 0;
  width: 100%;
}

.productName {
  width: 50%;
    margin: 0 auto;
}

.description {
  width: 85.65%;
  color: hsla(0, 0%, 100%, 0.75);
  text-transform: none;
  margin: 0 auto;
  padding-top: 24px;
  margin-bottom: 20px;
  
}

