.topAd {
  background-position: center center;
  background-size: cover;
  background: url("./assets/imgSpeaker-mobile.jpg");
  border-radius: 10px;
  height: 320px;
  margin: 0 auto;
  padding-top: 95px;
  width: 327px;
}


.productName {
  margin: 0 0 32px 16px;
}

.imgContainer {
  border-radius: 15px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  width: 327px;
}

.bottomImg {
  height: 200px;
  width: 327px;
}

.bottomAd {
  display: flex;
  flex-direction: column;
  height: 424px;
  margin-top: 24px;
  row-gap: 24px;
}

.greyBkGround {
  background-color: #f1f1f1;
  border-radius: 10px;
  height: 200px;
  margin: 0 auto;
  padding: 48px 24px;
  width: 327px;
}

.linkPositioning {
  margin: 25px 0px;
}

@media (min-width: 760px) {
  .topAd {
    background: url("./assets/imgSpeaker-tablet.jpg");
    height: 320px;
    width: 689px;
    }

  .speakerLinkPositioning {
    margin: 25px 50px;
  }

  .bottomAd {
    column-gap: 15px;
    flex-direction: row;
    height: 320px;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 24px;
    width: 689px;

  }

  .imgContainer {
    border-radius: 15px;
    height: 320px;
    overflow: hidden;
    width: 339px;
  }

  .greyBkGround {
    height: 320px;
    margin: 0;
    padding: 87px 24px;
    width: 339px;
   
  }
  .bottomImg {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 1400px) {
  .topAd {
    background: url("./assets/imgSpeakers-desktop.jpg");
    height: 320px;
    width: 1110px;
  }

  .speakerLinkPositioning {
    margin: 25px 50px;
  }

  .bottomAd {
    height: 320px;
    width: 1110px;
  }

  .imgContainer {
    height: 320px;
    width: 540px;
   }

  .greyBkGround {
    height: 320px;
    width: 540px;
  }



}
