.topAd {
  background: url("./assets/topImage.jpg");
  background-size: cover;
  background-position: center center;
  height: 320px;
  width: 327px;
  margin: 0 auto;
  border-radius: 10px;
  padding-top: 95px;
}

.productName {
  margin: 0 0 32px 16px;
}

.imgContainer {
  height: 200px;
  width: 90%;
  margin: 24px auto;
  border-radius: 15px;
  overflow: hidden;
}

.bottomImg {
  height: 100%;
  width: 100%;
}

.bottomAd {
  height: 424px;
}

.greyBkGround {
  height: 200px;
  width: 90%;
  background-color: #f1f1f1;
  margin: 0 auto;
  border-radius: 10px;
  padding: 48px 24px;
}

.linkPositioning {
  margin: 25px 8px;
}
