.topAd {
  background: url("./assets/imgSpeaker-mobile.jpg");
  background-size: cover;
  background-position: center center;
  height: 320px;
  width: 327px;
  margin: 0 auto;
  border-radius: 10px;
  padding-top: 95px;
}
.container {
  /* padding: 24px 0; */
}

.productName {
  margin: 0 0 32px 16px;
}

.imgContainer {
  height: 200px;
  width: 327px;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
}

.bottomImg {
  height: 200px;
  width: 327px;
}

.bottomAd {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  height: 424px;
  margin-top: 24px;
}

.greyBkGround {
  height: 200px;
  width: 327px;
  background-color: #f1f1f1;
  margin: 0 auto;
  border-radius: 10px;
  padding: 48px 24px;
}

.linkPositioning {
  margin: 25px 0px;
}

@media (min-width: 760px) {
  .topAd {
    background: url("./assets/imgSpeaker-tablet.jpg");
    height: 320px;
    width: 689px;
  }

  .speakerLinkPositioning {
    margin: 25px 50px;
  }

  .bottomAd {
    display: flex;
    flex-direction: row;
    padding-top: 24px;
    width: 689px;
    height: 320px;
    justify-content: space-between;
    margin: 0 auto;
    column-gap: 15px;

  }

  .imgContainer {
    height: 320px;
    width: 339px;
    /* margin: 24px auto; */
    border-radius: 15px;
    overflow: hidden;
  }

  .greyBkGround {
    height: 320px;
    width: 339px;
    background-color: #f1f1f1;
    margin: 0;
    border-radius: 10px;
    padding: 87px 24px;
   
  }
  .bottomImg {
    height: 100%;
    width: 100%;
  }
}
